{{define "content"}}
<h1>get in touch!</h1>
<p>
    to get in touch with me, please send an email to
    <a href="mailto:joberly@gmail.com">
        joberly@gmail.com
    </a>. thanks!
</p>
{{template "footer"}}
{{end}}